
.cell_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 7);
}

.cell_container Label{
    -fx-text-fill: black;
}


.tooltip {
    -fx-show-delay: 20ms;
    -fx-background-color: #FFFFFF;
}