

/*List view and list cells*/

.myTree .tree-cell {
    -fx-background-color: #EEE ;
    -fx-text-fill: white;
}
.myTree{
    -fx-background-color: #EEE ;
}

.transaction_listview .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.tree-cell{
    -fx-padding: 5 0 5 0;
    -fx-background-color: transparent;
    -fx-border-radius: 2;
    -fx-background-insets: 0 2px;

}
.tree-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
    -fx-border-width: 0;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-translate-y: 6;
    -fx-translate-x: -6;
    -fx-background-color: black;
}
.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-translate-y: 6;
    -fx-translate-x: -6;
    -fx-background-color: black;
}
.tooltip {
    -fx-show-delay: 20ms;
    -fx-background-color: #FFFFFF;
}